body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  transition: all ease-in 200ms !important;
}

.green {
  background: #77ad42 !important;
}
